<%-include('./partials/head') %>
<%-include('./partials/header') %>
<body style="background-color: rgb(220, 216, 216,0.2);">
   
    <div class="container mt-3">
        <div class="d-flex justify-content-between">
            <span class="page"><a href="/" style="text-decoration: none; color: gray;">Home</a> / <%= restaurant.location.name %> / <%= restaurant.name %></span>
            <i class="bi bi-search"></i>
        </div>
        <div class="d-flex flex-column mt-5 p-5 mb-5" style="background-color: white; border-radius: 15px;">
            <div class="d-flex justify-content-between">
                <div class="d-flex flex-column" style="width: 180px;">
                    <span class="fs-4"><%= restaurant.name %></span>
                 
                    <span style="font-weight: 300;">
                        <% for(let i=0;i<restaurant.food_categories.length;i++){ %>
                            <%= restaurant.food_categories[i]+',' %>
                        <%}%> 1.8 km <i class="bi bi-caret-down-fill" style="font-size: 10px; color: orangered;"></i></span>
                </div> 
                <div class="d-flex flex-column p-2 rounded" style="border: 1px solid rgb(217, 217, 217,0.5); height: 70px;">
                    <div class="d-flex align-items-center">
                        <i class="bi bi-star-fill mx-2" style="color: green;"></i>
                        <span style="font-size: 16px; font-weight: bold; color: green;">4.0</span>
                    </div>
                    <div class="mt-1" style="border-bottom: 1px solid lightgray;"></div>
                    <div class="d-flex justify-content-center align-items-center mt-2">
                        <span style="font-size: 10px; font-weight: 700; color: gray;">10k+rating</span>
                    </div>
                </div>  
            </div>
            <div class="mt-2 d-flex align-items-center">
                <i class="bi bi-bicycle fs-3 mx-2"></i>
                <span style="font-size: 15px; color: gray;">1.8kms | ₹39 Delivery free will apply</span>
            </div>
            <div class="mt-3" style="border: 1px solid rgb(212, 211, 211,0.4);"></div>
            <div class="mt-2 d-flex align-items-center">
                <div class="d-flex align-items-center">
                    <i class="bi bi-hourglass-split fs-4"></i>
                    <span class="ms-2" style="font-weight: bold; font-size: 17px; color: rgb(98, 98, 98);">19 MINS</span>
                </div>
                <div class="ms-4 d-flex align-items-center justify-content-center">
                    <i class="bi bi-currency-rupee d-flex align-items-center p-1" style="border: 1px solid black; border-radius: 50%;"></i>
                    <span class="ms-2" style="font-weight: bold; font-size: 18px; color: rgb(92, 91, 91);">₹500 <span style="font-size: 14px;">for two</span></span>
                </div>

            </div>
            <div class="row mt-3">
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="card mb-3" style="max-width: 100%;">
                        <div class="card-body">
                            <div class="d-flex">
                                <img src="/images/percenticon.png" width="25px" height="25px" alt="">
                               
                                    <span class="ms-2" style="color: rgb(35, 37, 105); font-weight: 600;">60% OFF UPTO ₹120 </span>
                                
                            </div>
                            <span style="font-size: 12px; font-weight: 500;">USE TRYNEW | ABOVE ₹179 </span>
                       
                        </div>
                      </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="card mb-3" style="max-width: 100%;">
                        <div class="card-body">
                            <div class="d-flex">
                                <img src="/images/percenticon.png" width="25px" height="25px" alt="">
                               
                                    <span class="ms-2" style="color: rgb(35, 37, 105);; font-weight: 600;">60% OFF UPTO ₹120 </span>
                                
                            </div>
                            <span style="font-size: 12px; font-weight: 500;">USE TRYNEW | ABOVE ₹179 </span>
                       
                        </div>
                      </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="card mb-3" style="max-width: 100%;">
                        <div class="card-body">
                            <div class="d-flex">
                                <img src="/images/percenticon.png" width="25px" height="25px" alt="">
                               
                                    <span class="ms-2" style="color: rgb(35, 37, 105);; font-weight: 600;">60% OFF UPTO ₹120 </span>
                                
                            </div>
                            <span style="font-size: 12px; font-weight: 500;">USE TRYNEW | ABOVE ₹179 </span>
                       
                        </div>
                      </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="card mb-3" style="max-width: 100%;">
                        <div class="card-body">
                            <div class="d-flex">
                                <img src="/images/percenticon.png" width="25px" height="25px" alt="">
                               
                                    <span class="ms-2" style="color: rgb(35, 37, 105);; font-weight: 600;">60% OFF UPTO ₹120 </span>
                                
                            </div>
                            <span style="font-size: 12px; font-weight: 500;">USE TRYNEW | ABOVE ₹179 </span>
                       
                        </div>
                      </div>
                </div>
            </div>
            <div class="mt-5 d-flex align-items-center">
                <img src="/images/leaves.jpg" width="50px" height="50px" alt="">
                <span style="font-size: 15px;">PURE VEG</span>
            </div>
            <div class="mt-3" style="border: 1px solid rgb(210, 210, 210,0.5);"></div>

            <div class="d-flex flex-column mt-4 px-5 ">
                <% for(let i=0; i<foods.length;i++){ %>
                    <div class="d-flex justify-content-between" >
                        <div class="d-flex flex-column" style="width: 180px;">
                            <img src="/images/vegicon.png" width="20px" height="20px" alt="">
                            <span class="fs-5" style="font-weight: 400;"><%= foods[i].name %></span>
                            <% let minPrice = 10000000000000 %>
                            <% for(let j=0;j<foods[i].pricing.length;j++){%>
                               <% if(minPrice > foods[i].pricing[j].price){ %>
                                   <% minPrice = foods[i].pricing[j].price %> 
                                   <% } %>
                            <%}%>
                                   <span>₹ <%=minPrice%> </span>
                        </div>
                        <div style="position: relative;">
                            <img src="<%= foods[i].pic %>" width="100px" height="100px" alt="" style="border-radius: 10px; box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.2), 0px 8px 10px 0px rgba(0, 0, 0, 0.19);">

                        
                                   <div class="d-flex flex-column"><!-- Full Cart Start -->
                                        <!-- Customisable food item -->
                                        <% if(foods[i].pricing.length>1 || foods[i].add_ons.length>1){ %>
                                            
                                                <div  class="d-flex justify-content-center p-2 add-item-div mb-1">
                                                    <div  class="add-div" id="quantity-div-<%= foods[i]._id %>" style="display: none;">
                                                        <div class="d-flex justify-content-center"   >
                                                            <i data-food_id="<%= foods[i]._id %>" data-restaurant_id="<%= restaurant._id %>" data-type="customsiable" class="bi bi-dash-lg mx-1 text-success subtract-btn" style="cursor: pointer;"></i> 
                
                                                            <button data-food_id="<%=foods[i]._id %>" data-restaurant_id="<%=restaurant._id %>" data-type="customisable" id="quantity-<%=foods[i]._id %>" class="add-button add-food-modal ">1</button>

                                                            <i id="plus-cart" data-bs-toggle="modal" data-bs-target="#plus-item-<%= foods[i]._id %>" class="bi bi-plus-lg mx-1 text-success" style="cursor: pointer;"></i>    
                                                        </div>
                                                
                                                    </div>

                                                    <div style="display:block;" id="add-div-<%= foods[i]._id %>">
                                         
                                                            <div class= "add-div " style="display: block;" id="add-div-<%= foods[i]._id %>" >
                                                                <button data-food_id="<%=foods[i]._id %>" data-restaurant_id="<%=restaurant._id %>"  data-bs-toggle="modal" data-bs-target="#cart-modal"  data-type="simple" data-price="<%=foods[i].pricing[0].price %>" class="add-button add-food-modal">ADD</button>                                             
                                                                
                                                            </div>
            
                                                        </div>    
                                                    </div>
                                                    <div>

                                                    </div>
                                               

                                            
                                        <div class="mt-3 text-center">
                                            <span  style="font-size: 10px;">Customisable</span>
                                        </div>
                                    <% }else{%>
                                        <!-- Simple food item -->

                                        <div class="d-flex flex-column justify-content-center p-2 add-item-div mb-1" >
                                            <div class="add-div text-center" style="display: block;" id="add-div-<%= foods[i]._id %>" >
                                                <button data-food_id="<%=foods[i]._id %>" data-restaurant_id="<%=restaurant._id %>"   data-type="simple" data-price="<%=foods[i].pricing[0].price %>" class="add-button">ADD</button>                                             
                                                
                                            </div>
                                            <div style="display:none;" id="quantity-div-<%= foods[i]._id %>">
                                            <div class="d-flex justify-content-center"   >
                                                
                                                <i data-food_id="<%=foods[i]._id %>" data-restaurant_id="<%=restaurant._id %>"  data-type="simple"  class="bi bi-dash-lg mx-1 text-success subtract-btn" style="cursor: pointer;"></i> 

                                                <button id="quantity-<%=foods[i]._id %>" data-food_id="<%=foods[i]._id %>" data-restaurant_id="<%=restaurant._id %>"  data-type="simple" class="quantity-button">1</button>

                                                <i data-food_id="<%=foods[i]._id %>" data-restaurant_id="<%=restaurant._id %>" class="bi bi-plus-lg mx-1 text-success plus-btn" style="cursor: pointer;"></i>

                                            </div>    
                                        </div>
                                        </div>
                                        
                                        <div class="text-center" style="margin-top: 40px;">
                                        </div>
                                      

                                        <% } %>
                                    </div><!-- Full Cart End -->
                                
                                            
                               
                               






                                <div id="refresh" class="modal" tabindex="-1">
                                    <div class="modal-dialog">
                                      <div class="modal-content">
                                      
                                        <div class="modal-body">
                                            <h5 class="modal-title">Items already in cart</h5>
                                          <p>Your cart contains items from other restaurant. Would you like to reset your cart for adding items from this restaurant?</p>
                                          <div class="d-flex justify-content-center">
                                              <button type="button" class="px-5 py-2 mx-3" data-bs-dismiss="modal" style=" border: 1px solid green;">NO</button>
                                              <button id="add-ons-<%= foods[i]._id %>-<%= restaurant._id %>" data-bs-toggle="modal" data-bs-target="#cart-modal" class="add-food-modal  bg-success px-5 py-2" style="border: none; outline: none; color: white;" type="button">YES, START AFRESH</button>

                                          </div>
                                        </div>
                                       
                                      </div>
                                    </div>
                                  </div>
                             </div>
                        </div>
                    <div class="mt-5 mb-4" style="border-bottom: 1px solid rgb(142, 140, 140,0.2);"></div>
                    <div id="plus-item-<%= foods[i]._id %>" class="modal" tabindex="-1">
                        <div class="modal-dialog modal-dialog-centered">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title">Repeat last used customization?</h5>
                              <button id="repeat-close-btn-<%= foods[i]._id %>" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div class="d-flex justify-content-center">
                                    <button data-food_id="<%= foods[i]._id %>" data-restaurant_id="<%= restaurant._id %>" class="p-2 px-4 mx-3 add-food-modal customisable" type="button" style="border: 1px solid rgb(25, 231, 25); color: rgb(25, 231, 25);" data-bs-toggle="modal" data-bs-target="#cart-modal">I'LL CHOOSE</button>
                                    <button  data-restaurant_id="<%=restaurant._id%>" data-food_id="<%=foods[i]._id%>" type="button" class="p-2 px-4 bg-success repeat-item" style="color: white; border: none;" data-quantity ="<%=  %>" >REPEAT LAST</button>
                                </div>
                            </div>
                
                          </div>
                        </div>
                    </div>
                <% } %>
            </div>
        </div>
    </div>
    
    <div id="cart-modal" class="modal" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
          <div class="modal-content">
          
            <div id="add-ons-details" class="modal-body" style="border-radius: 0px;">
                
         
                
            </div>
            
          </div>
        </div>
      </div>
      
  
<script src="/js/resturantdetails.js"></script>
</body>
<script src="/js/signup.js"></script>
<script src="/js/login.js"></script>
<%-include('./partials/script') %>