<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Locations</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>
    <div class="container p-3">
        <div class="d-flex justify-content-between">
            <h3>Resturant</h3>
            <div class="d-flex justify-content-center align-items-center">
                <a class="btn btn-primary btn-sm" href="/addresturant">Add Resturant</a>
            </div>
        </div>
        <table class="table mt-3">
            <thead>
            
              <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Location</th>
                <th scope="col">Price</th>
                <th scope="col">Edit</th>
              </tr>
            </thead>
            <tbody>
              <% for(let i=0;i<restaurants.length;i++){ %>
              <tr>
                <th scope="row"><%= i+1 %></th>
                <td><%= restaurants[i].name %></td>
                <td><%= restaurants[i].location.name %></td>
                <td><%= restaurants[i].price_for_two %></td>
                <td><a class="btn btn-primary btn-sm" href="/editrestaurantitem/<%= restaurants[i]._id %>/restaurants[i].location.name">Edit</a></td>
              </tr>
            <% } %>
            </tbody>
          </table>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>